extends _layout

block main_content
  p Welcome to the admin dashboard. The menu on the left is populated by items 
    | specified in <code>config.adminMenu</code>. See 
    | <a href="https://github.com/hiddentao/waigo-admin">waigo-admin</a> for 
    | more information.

